<div class="jumbotron text-center playlist">
	<h1>Playlist Page</h1>

	<button id="home-button" ng-click="$state.go('user')">Return Home</button>

	<table ng-table="tracks" class="playlist-table">
		<tr>
			<th></th>
			<th>Track</th>
			<th>Artist</th>
			<th>Album</th>
		</tr>
		<tr ng-repeat="row in tracksInfo">
			<td class="playlist-remove" ng-click="removeTrack(row)">-</td>
			<td title="Title" filter="" sortable="">{{row.name}}</td>
			<td title="Artist" filter="" sortable="">{{row.artist.name}}</td>
			<td title="Album" filter="" sortable="">{{row.album.title}}</td>
		</tr>
	</table>

	<h2>Discover</h2>

	<p>Add some top tracks by genre to your playlist:</p>
	<button class="add-track" ng-click="addTracksForGenre('rock')">Rock</button>
	<button class="add-track" ng-click="addTracksForGenre('pop')">Pop</button>
	<button class="add-track" ng-click="addTracksForGenre('electronic')">Electronic</button>
	<br/><br/>
	<p>Add the top tracks of a country to your playlist:</p>
	<button class="add-track" ng-click="addTracksForCountry('spain')">Top in Spain</button>
	<button class="add-track" ng-click="addTracksForCountry('germany')">Top in Germany</button>
	<button class="add-track" ng-click="addTracksForCountry('china')">Top in China</button>
	<br/><br/>
	<p>Add some top tracks to your playlist:</p>
	<button class="add-track" ng-click="addTopTracks()">Top of Charts</button>

</div>
