<div class="jumbotron text-center register">
	<h1>New User Registration</h1>

	<form class="register-form" name="login" action="/register" method="POST">
		<div class="fields">
			<label for="name" class="form-label">Name:</label>
			<input type="text" id="name" name="name" size="30" required /><br />
			<label for="email" class="form-label">Email:</label>
			<input type="text" id="email" name="email" size="30" required /><br />
			<label for="username" class="form-label">Username:</label>
			<input type="text" id="username" name="username" size="30" required /><br />
			<label for="password" class="form-label">Password:</label>
			<input type="text" id="password" name="password" size="30" required /><br />
			<label for="confirmPassword" class="form-label">Confirm Password:</label>
			<input type="text" id="confirmPassword" name="confirmPassword" size="30" required /><br />
		</div>
		<input id="dontfloat" type="submit" value="Register" />
	</form>
</div>
