<div class="jumbotron text-center user">
	<h1>Dashboard</h1>

	<h2>Your Playlists</h2>
	<div class="playlists">
		<!-- [ng-list="state.data.playlists"] -->
		<p ng-if="state.data.playlists.length">You do not have any playlists.</p>
		<p ng-if="state.data.playlists.length">Click the button below to get started!</p>
	</div>

	<button ng-click="state.go('new-playlist')">Create New Playlist</button>

	<h2>Collaborative Playlists</h2>
	<div class="playlists">
		<!-- [ng-list="state.data.shared_playlists"] -->
	</div>

	<h2>Liked Playlists</h2>
	<div class="playlists">
		<!-- [ng-list="state.data.liked_playlists"] -->
	</div>
</div>
