<div class="jumbotron text-center user">
	<h1>Dashboard</h1>
	<h2>Welcome {{user.username}}</h2>
	<h2>Your Playlists</h2>
	<div class="playlists">
		<!-- [ng-list="state.data.playlists"] -->
		<p ng-if="playlist1">You do not own any playlists.</p>
		<p ng-if="playlist1">Click the button below to get started!</p>
		<table ng-table="createdPlaylists" class="playlist-table">
			<tr ng-repeat="row in createdPlaylists">
				<td title="Title" filter="" sortable="" ng-click="goToPlaylist(row)">{{row.name}}</td>
			</tr>
		</table>
	</div>

	<form>
		<label for="playlist" class="form-label">Playlist Name:</label>
		<input type="text" id="playlist" name="playlist" size="30" ng-model="playlistName"/>
		<input type="submit" value="Create Playlist" ng-click="createPlaylist(playlistName)"/><br />
	</form>

	<h2>Liked Playlists</h2>
	<div class="playlists">
		<p ng-if="playlist2">You have not liked any playlists.</p>
		<table ng-table="likedPlaylists" class="playlist-table">
			<tr ng-repeat="row in likedPlaylists">
				<td title="Title" filter="" sortable="" ng-click="goToPlaylist(row)">{{row.name}}</td>
			</tr>
		</table>
	</div>
</div>
