* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	padding-top:30px;
}

/* navigation */

/* index */

/* login */
.login .login-form span,
.register .register-form span {
	display: inline-block;
	width: 150px;
	text-align: right;
}

/*  */
